.box1 {
    background-color: aqua;
}

.box2 {
    background-color: brown;
}

.box3 {
    background-color: crimson;
}

.box4 {
    background-color: darkgrey;
}

.box5 {
    background-color: coral;
}

.box6 {
    background-color: blue;
}

.box7 {
    background-color: greenyellow;
}

.box8 {
    background-color: magenta;
}

.box9 {
    background-color: silver;
}

.box10 {
    background-color: olive;
}