@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
/* 제일 위에 써주자.*/


/* 태그 요소 선택자 */
h3 {
    color : green;
    font-size: 2em;
}

/* 전체 선택자 */
*{
    font-style: italic;
}

/* 아이디 선택자 */
#IDSelect {
    color:violet;
}

/* 클래스 선택자 */
.ClassSelect {
    color:yellow;
}

/* 여러 선택자를 한번에 쓸 수도 있다. */
h3, #IDSelect, .ClassSelect {
    background-color: wheat;
}

/* 부모자식관계를 이용 : first클래스 하위의 모든 h4에 적용*/
.first h4{
    color: tomato;
}

/* 직계자손만을 선택 : > 사용*/
.first > h5{
    color:turquoise;
}


/* 텍스트와 폰트 스타일 */
.font1 {
    color:yellowgreen;
    text-align: center;
    line-height: 200%;
    text-decoration: line-through;

    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
            /* 'Times New Roman', Times : 폰트집합. */
            /* serif : 제네릭 집합. */
            /* 사용자가 'Times New Roman'또는 Times 폰트가 없으면
                serif같은 지정된 제네릭 집합에 의해 비슷한 스타일의
                폰트를 적용시켜줌.  */
}

/* html에 link 이용. */
.font2 {
    font-family: 'The Nautigal', cursive;
}

/* import 이용. */
.font3 {
    font-family: 'Comforter Brush', cursive;
}

/*
    css의 주석은 이렇게 단다.
    c와 비슷한 부분이 있다.
    
    문법 :
        선택자 : h3
        선언부 : color...

    이 스타일시트의 의미 : h3이라는 선택자를 가진 태그의 컬러를... 사이즈를...로
    하여라.

    기본 선택자의 종류 
        전체 선택자 : html 내의 모든 요소를 지칭.
        태그 요소 선택자
        아이디 선택자
        클래스 선택자

    폰트
        font-family : 폰트 집합과 제네릭 집합(비슷한 모양을 가진 폰트집합)을 지정해준다.
        
    웹에서 폰트 가져오기
        HTML 문서에 링크 태그로 가져오는 방식 :
            html의 헤더부분에 link 붙여넣고, css에서 font-family 속성 적용.
        CSS에 import하는 방식 : 

*/