@charset 'utf-8';
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
ul,
ol {
	list-style: none;
}
a {
	text-decoration: none;
	font-family: fantasy;
}

header {
	width: 100%;
	border-bottom: 1px solid violet;
}

header .inner {
	width: 1180px;
	height: 120px;
	margin: 10px auto;
	position: relative; /*자식 absolute 요소의 기준점 설정*/
}

header .inner h1 {
	position: absolute;
	left: 0px;
	bottom: 15px;
}

header .inner h1 a {
	color: #444;
	font: bold 24px/1 "arial";
}

.util {
	position: absolute;
	top: 20px;
	right: 30px;
}

.util li {
	float: left;
}

.util li a {
	display: block;
	color: #999;
	padding: 10px 10px; /*block해야 위아래 패딩이 공간점유함.*/
	font: 12px/1 "arial";
}

header .gnb {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

header .gnb li {
	float: left;
}

.gnb li a {
	display: block;
	font: bold 15px/1 "arial";
	color: #555;
	padding: 20px 40px;
	transition: all 1s;
}

header .gnb a:hover {
	color: white;
	background-color: slategrey;
	border-radius: 20px;
}

figure {
	width: 100%;
	height: calc(100vh - 120px); /*전체 브라우저 높이에서 120px만큼 빼줌*/
	background: #000;
	position: relative;
	overflow: hidden;
	padding-top: 250px;
}
figure video {
	object-fit: cover; /*영상을 figure안쪽에 꽉 차도록 설정 */
	width: 100%;
	height: 100%;
	opacity: 0.3;
	position: absolute;
	top: 0px;
	left: 0px;
}

figure .inner {
	width: 1180px;
	margin: 0px auto;
	position: relative;
}

figure .inner h1 {
	font: normal 120px/1 "arial";
	color: white;
	margin-bottom: 20px;
}

figure p {
	font: 16px/1.4 "arial";
	color: #888;
	margin-bottom: 60px;
}

figure .inner a {
	display: block;
	width: 400px;
	height: 30px;
	border: 1px solid #bbb;
	font: bold 11px/30px "arial";
	color: #fff;
	text-align: center;
	letter-spacing: 1px;
	transition: all 0.5s;
}

figure .inner a:hover {
	background: #fff;
	color: #555;
}

section {
	width: 100%;
	padding: 200px 0px;
	margin-bottom: 100px;
}

section .inner {
	width: 1180px;
	margin: 0px auto;
}

section h1 {
	text-align: center;
}

section h2 {
	font-size: 14px;
}

section p {
	font-size: 12px;
}

section ul {
	margin-top: 30px;
	display: flex;
	justify-content: space-around;
}

section ul li {
	/* float: left; */
	width: 300px;
	margin: 0px 10px;
}

section img {
	width: 300px;
}

footer {
	width: 100%;
	background: #333;
	padding: 100px 0px;
	border-top: 1px solid red;
}

footer .inner {
	width: 1180px;
	margin: 0px auto;
}

.upper {
	width: 100%;
	border-bottom: 1px solid #777;
	padding-bottom: 20px;
}

.upper::after {
	content: "";
	display: block;
	clear: both;
}

footer h1 {
	/* float: left; */
	font: bold 24px/1 "arial";
	color: #666;
}

footer ul {
	float: right;
}

footer ul li {
	float: left;
	margin-left: 20px;
}

footer ul li a {
	font: bold 14px/1 "arial";
	color: #666;
}

footer .lower {
	width: 100%;
	padding-top: 20px;
}

footer address {
	width: 100%;
	font: 12px/1.3 "arial";
	color: #777;
	margin-bottom: 20px;
}

footer p {
	width: 100%;
	font: 12px/1 "arial";
	color: #777;
}
